html
    head
    	+h.headers
    	+h.load('markdown', '/template/style.scss')

        block title
            title= site.title
        <meta property="og:type" content="website" />
        <meta property="og:title" content="天涼好個秋.">
        <meta property="og:description" content="解决问题，记录过程。">
        <meta property="og:image" content="https://stray.love/_cache/thumbnails/4/397c19d1a206efbb6a60e04315e204d_240_240_true_86.png">
        <meta property="og:url" content="https://stray.love/">
    body(style='background-image:url({{site.background_image}})')
    	.wrapper
    		aside#myNav.overlay
    			a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
    			.overlay-content
	    			header
		                a.logo(href='/?status=loaded')
		                    img(src= site.site_avatar, alt=site.title)
		                +font('wyangkaiti')
			                h1
			                	a(href='/?status=loaded')= site.title
	    			nav
	    				+site.just_nav
	    			+site.socials
	    			+posts.search_in_html()

	    	.switch
                a.menu(href='javascript:void(0)', onclick='openNav()')
                    span ☰
                a(href='/?status=loaded')
                    img(src= site.site_avatar, alt=site.title)

    		main
    			block content

			footer
				span= '©%s %s - ' %(site.now.year, site.title)
                    a(href='https://blog.shuiba.co/bitcron-theme-ink', target='_blank') Theme 「墨」
                    | -
                    a(href='https://bitcron.com', target='_blank') Powered by Bitcron


	+h.back_to_top(label='▲')
    
    <script id="dsq-count-scr" src="//evenS.disqus.com/count.js" async></script>
    script
        // smooth scrolling
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 500);
                return false;
              }
            }
          });
        });

        // replace search text
        document.getElementById('search_posts_keywords').placeholder = '搜索';

        // responsive menu
		function openNav() {
		    document.getElementById("myNav").style.height = "100%";
		}
		function closeNav() {
		    document.getElementById("myNav").style.height = "0%";
		}